@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

a {
    text-decoration: none;
    color: #333;
    text-shadow: none;
}

.button {
    background-color: #face1e;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Kanit', sans-serif;
}
.button-xl{
    font-size: 1.4rem;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 5px;
}
.grid > .item {
    border: 1px solid #666;
    background-color: #393E46;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}

.grid > .item > .item-detail {
    padding: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 70%;
}

.grid > .item > .item-detail > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid > .item > .item-detail > div > small {
    color: #ccc;
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
}

.grid > .item > .item-detail > div > a {
    font-size: 1rem;
    color: #333;
    font-weight: normal;
}

#free-course {
    background-color: #393E46;
    color: #fff;
}

#free-course > .wrapper {
    padding: 50px 0px 50px 0px;
}

#free-course > .wrapper > h4 {
    text-align: center;
    font-size: 2.8rem;
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 50px;

}

#free-course > .wrapper > h4 > span {
    color: #face1e;
}


#free-course > .wrapper > .grid > .item {
    background-color: #222831;
    margin: 0px;
    padding: 0px;
}

#free-course > .wrapper > .grid > .item > .item-detail {
    padding: 0px;
    margin: 0px;
    font-size: 1.4rem;
    width: 100%;
}

#free-course > .wrapper > .grid > .item > .item-detail > img {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#free-course > .wrapper > .grid > .item > .item-detail > div {
    padding: 10px 20px 10px 20px;
}

footer {
    background-color: #222831;
    color: #fff;
    text-align: center;
}

footer > .wrapper {
    padding: 30px 0px 30px 0px;
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 900px) {
    .grid {
        grid-template-columns: 45% 45%;
    }
    .item > img {
        width: 8%;
    }
}

@media only screen and (max-width: 768px) {
    .button {
        padding: 5px;
    }
    .button-xl {
        font-size: 1.2rem;
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 100%;
    }

}